.places {
    margin-top: 30px;
    position: relative;
  }
  
  .places h1 {
    font-size: 30px;
  }
  .places .article-div{
    text-align: center;
  }
  .places .article-div article {
    display: inline-block;
    text-align: center;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
  }
  
  .places article h2 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
  }